html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}



.el-button--mini {
    padding: 8px 10px;
}


.el-upload--picture-card {
    width: 80px !important;
    height: 80px !important;
    line-height: 90px;
}
.el-upload-list__item {
    width: 80px !important;
    height: 80px !important;
}